<article>
    <form action="/api/product" method="post">
        <header>agregar productos</header>
        <input type="text" name="title" placeholder="titulo" required />
        <input type="text" name="description" placeholder="  description" required />
        <input type="text" name="thumbnail" placeholder="thumbnail" required />
        <input type="number" name="number" placeholder="tamaño" required />
        <input type="number " name="price" placeholder="precio" required />
        <input type="number " name="code" placeholder="code" required />
        <input type="number " name="stock" placeholder="stock" required />

        <footer>
            <input type="submit" value="Agregar" />
        </footer>
        <a href="/api/profile">volver al inicio</a>
    </form>
</article>