<form action="http://localhost:8080/api/users/65ef23714bfab7b8c00acd71/documents" method="POST"
    enctype="multipart/form-data">
    <!-- Inputs for other data like name and reference -->
    <input type="file" name="product">
    <!-- Other form fields -->
    <button type="submit">Upload</button>
</form>