<form action="http://localhost:8080/api/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">
    <div>
        <label for="product">Product File:</label>
        <input type="file" id="product" name="product">
    </div>

    <div>
        <label for="document">Document File:</label>
        <input type="file" id="document" name="document">
        <label for="document">Domicilio</label>
        <input type="file" id="domicilio" name="domicilio">
        <label for="document">Cuenta</label>
        <input type="file" id="cuenta" name="cuenta">
        <label for="document">identificacion</label>
        <input type="file" id="identificacion" name="identificacion">

    </div>

    <div>
        <label for="profile">Profile Picture:</label>
        <input type="file" id="profile" name="profile" required>
        <small>Only one profile picture allowed.</small>
    </div>


    <div>
        <button type="submit">Upload</button>
    </div>
</form>